<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles3.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder Clone</title>
</head>
<body>

<div class="header">
    <h1>Tinder Clone</h1>
</div>

<div class="main">


    <div class="left">

        <% if (admin) { %>
            <h2> <%=admin.email%> </h2>
        <% } %>
        
        <b>Alle Profiler</b>
        <br>
        <b>Rediger</b>
        <br>
        <b>Slet</b>


    </div>


    
    <div class="right">

        <b>Noget</b>
        <br>
        <b>Her</b>
        <br>
        <b>Og her</b>
        <br>
        <b></b>
    </div>






</div>
    
<footer>
</footer>

</body>


<script></script>
</html>
