<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder Clone</title>
</head>
<body>

<div class="header">
    <h1>Tinder Clone</h1>
</div>

<div class="main">


    <div class="left">
        
        <b>Min Profil</b>
        <br>
        <b>Rediger</b>
        <b></b>


    </div>


    
    <div class="right">

        <b>Matches</b>
        <br>
        <b>Tæt på dig</b>
        <br>
        <b>Notifikationer</b>
        <br>
        <b></b>
    </div>






</div>
    
<footer>
</footer>

</body>


<script></script>
</html>
