<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!--  <script type= "text/javascript">
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
        });
    </script> Forhindrer at man kan bruge tilbage pil til at genindlæse efter logud/delete-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>Tinder Clone</title>
</head>
<body>

<div class="header">
    <h1>Tinder Clone</h1>
</div>

<br>
<br>
<br>

<div class="main">



<div class="adminlogin">
    <form name="form" method="POST" action="http://localhost:3000/routes/login" role="form" enctype="application/json">
    <h1>Login</h1>
    <b> Login som admin, eller allerede eksisterende bruger</b>
    <br>

    <input id="rb1" name="role" type="radio" value="admin"><b>Admin</b></input> 
    <input rd="rb2" name="role" type="radio" value="user"><b>Bruger</b></input> 
    
    <!--kalder radio-buttons samme navn, så kun en kan vælges (men forskellige ID's-->
    <br>

    <label for="email"><b>Email</b></label>    
    <input type="email" placeholder="Enter Email" name="email">

    <br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <br>

    <label for="button"><b>Login</b></label>
    <input type="submit" name="button">


    </form>
    </div>

<div class="userSignup">
    <form name="form" method="POST" action="http://localhost:3000/routes/signup" role="form" enctype="application/json">
    <h1>Opret ny profil</h1>

    <label for="fullName"><b>Navn</b></label>
    <input type="text" placeholder="Please Enter Your Full Name" name="name">

    <br>

    <label for="email"><b>Email</b></label>    
    <input type="email" placeholder="Enter Email" name="email">

    <br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <br>

    <label for="age"><b>Alder</b></label>
    <input type="number" name="age">

    <br>

    <label for="gender"><b>Køn</b></label>

    <select name="gender" id="gender">

        <option value="Select">Select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>

    </select>

    <br>

    <label for="preferredGender"><b> Fortrukket køn</b></label>

    <select name="preferredGender" id="preferredGender">

        <option value="Select">Select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Both">Both</option>

    </select>

    <br>


    <label for="interest"><b>Interesser</b></label>
    <input type="text" name="interest">

    <br>

    <label for="button"><b>Opret Profil</b></label>
    <input type="submit" name="button2">


    </form>
    </div>
    
</div>

    
<footer>
</footer>

</body>


<script></script>
</html>
