<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder Clone</title>
</head>
<body>

<div class="header">
    <h1>Tinder Clone</h1>
</div>

<div class="main">

    <div class="right">

        <% if (my_id) { %>

        <h3>Matches</h3>
            <li>ID: <%=my_id._id%></li>
         
    
            <% } %>



        <b>Notifikationer</b>

<script></script>
</html>
