<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder Clone</title>
</head>
<body>

<div class="header">
    <h1>Tinder Clone</h1>
</div>

<div class="main">

    <div class="right">

        <form name="like" action="http://localhost:3000/routes/like" role="form" method="POST">

        <b>Matches</b>
      

    
    </form>

        <b>Matches</b>
        <br>
        
        <b>Notifikationer</b>

    </div>

</div>

<script></script>
</html>
