.header {
    text-align: center;
    background-color: beige;
}



.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(500px,auto);
    grid-column-gap: 5em;
    
}


.adminlogin {
    text-align: center;
    padding: 15% 10% 0% 10%;
    background-color: cadetblue;
    
}

.userSignup {
    text-align: center;
    padding: 15% 10% 0% 5%;
    background-color:cadetblue;
}

