<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder Clone</title>
</head>
<body>

<div class="header">
    <h1>Tinder Clone</h1>
</div>

<br>
<br>
<br>

<div class="main">



<div class="adminlogin">
    <form name="form" method="POST" action="http://localhost:3000/signup" role="form" enctype="application/x-www-form-urlencoded">
    <h1>Admin Login</h1>
    <label for="email"><b>Email</b></label>    
    <input type="email" placeholder="Enter Email" name="email">

    <br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <br>

    <label for="button">opret bruger</label>
    <input type="submit" name="button">


    </form>
    </div>

<div class="userlogin">
    <h1>User Create Profile</h1>

    <label for="fullName"><b>FullName</b></label>
    <input type="text" placeholder="Please Enter Your Full Name" name="fullName">

    <br>

    <label for="email"><b>Email</b></label>    
    <input type="email" placeholder="Enter Email" name="email">

    <br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <br>

    <label for="age"><b>Age</b></label>
    <input type="number" name="age">

    <br>

    <label for="gender"><b>Gender</b></label>

    <select name="Gender" id="gender">

        <option value="Select">Select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>

    </select>

    <br>

    <label for="prefferedGender"><b> Preffered Gender</b></label>

    <select name="prefferedGender" id="prefferedGender">

        <option value="Select">Select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Both">Both</option>

    </select>

    <br>


    <label for="interest"><b>Interest</b></label>
    <input type="text" name="interest">

    <br>

    <label for="button"></label>
    <button type="button" onclick=""> Create Account</button>

    </div>
    
</div>

    
<footer>
    bar
</footer>

</body>


<script></script>
</html>